// pop up
#popup-notification {
	font-family: 'Montserrat', sans-serif;
	display: none;
	position: fixed;
	width: 385px;
	height: 98px;
	background: #fff;
	border: 2px solid #dcdcdc;
	bottom: 25px;
	left: 42px;
	margin-left: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 999999999999999;
}

#popup-notification-welcome {
	font-family: 'Montserrat', sans-serif;
	display: none;
	position: fixed;
	width: 385px;
	height: 98px;
	background: #fff;
	border: 2px solid #dcdcdc;
	bottom: 25px;
	left: 42px;
	margin-left: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 999999999999999;
}

#popup-notification-completed {
	font-family: 'Montserrat', sans-serif;
	display: none;
	position: fixed;
	width: 385px;
	height: 98px;
	background: #fff;
	border: 2px solid #dcdcdc;
	bottom: 25px;
	left: 42px;
	margin-left: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 999999999999999;
}

#popup-notification-logout {
	font-family: 'Montserrat', sans-serif;
	display: none;
	position: fixed;
	width: 385px;
	height: 98px;
	background: #fff;
	border: 2px solid #dcdcdc;
	bottom: 25px;
	left: 42px;
	margin-left: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 999999999999999;
}

#popup-notification-logout-redirect {
	font-family: 'Montserrat', sans-serif;
	display: none;
	position: fixed;
	width: 385px;
	height: 98px;
	background: #fff;
	border: 2px solid #dcdcdc;
	bottom: 25px;
	left: 42px;
	margin-left: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 999999999999999;
}

#etiendahan-notification {
	color: dimgrey;
	padding: 4px 10px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	position: relative;
	left: -2px;
}

.popup-close {
	color: #464646;
	right: 8px;
	top: 5px;
	position: absolute;
	font-size: 15px;
	cursor: pointer;
}

.popup-title {
	font-size: 12px;

	.fa {
		font-size: 18px;

		&.alert-danger {
			background-color: transparent;
		}

		&.alert-primary {
			background-color: transparent;
		}
	}
}

.fa-stack {
	line-height: 0;
	height: 0;
    bottom: 1px;
}

.fa-stack[data-count]:after{
	position: absolute;
    top: -13px;
    left: 18px;
    content: attr(data-count);
    font-size: 8px;
    padding-left: 4px !important;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: #1f2837;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}

.fa.fa-shopping-bag {
	position: relative;
	font-size: 1.250rem;
	vertical-align: middle;
}