.brand-primary-bg {
	background-color: $brand-primary;
}

.brand-primary-color {
	color: $brand-primary;
}

.brand-primary-faded-bg {
	background-color: $brand-primary-bolder;
}

.brand-secondary-bg {
	background-color: $brand-secondary;
}

.brand-secondary-color {
	color: $brand-secondary;
}

.text-white {
	color: #fff;
}