// navbar
.my-navbar {
	background: none !important;
	height: 90px;
    border-bottom: 1px solid rgba(248,248,248,0.3);
    padding-right: 0px;
	// -webkit-transition: all 0.1s ease-out;
	// -moz-transition: all 0.1s ease-out;
	// -o-transition: all 0.1s ease-out;
	// transition: all 0.1s ease-out;

	.nav-item {
		height: 90px;

		.nav-link {
	    	text-transform: uppercase;
    	    line-height: 90px;
		    vertical-align: middle;
		    padding-top: 0px;
		    padding-bottom: 0px;
		    padding: 0 20px;
		    color: #fff;
		    font-size: 0.750em;
		    font-weight: 600;
	        letter-spacing: 0.2em;
		    font-family: 'Montserrat', sans-serif;

		    &:hover, &:focus {
				color: rgba(255,255,255,0.8);
		    }

		    &:active {
		    	color: #fff !important;
		    }
	    }

    	.dropdown-menu {
	    	top: 98%;
	    }

	    &.right-nav {
	    	width: 110px;
	    	border-left: 1px solid rgba(248,248,248,0.3);

	    	a.nav-link {
	    		text-align: center;
	    		padding: 0 0;

				// add badge
				.fa-stack[data-count]:after{
					position: absolute;
    				top: 0;
    				left: 16px;
					content: attr(data-count);
					font-size: 10px;
					padding-left: 9px !important;
					padding: .6em;
					border-radius: 999px;
					line-height: .75em;
					color: white;
					background: #000;
					text-align: center;
					min-width: 2em;
					font-weight: bold;
				}

		    	.fa.fa-shopping-bag {
		    		position: relative;
		    		font-size: 20px;
					vertical-align: middle;
		    	}
	    	}

	    	.dropdown-menu {
    		    width: 400px !important;
				border-radius: 0;
				padding: 20px 0px;
				box-shadow: none;
				-webkit-box-shadow: none;
				border-top: 4px solid #e6e6e6;
				border-bottom: #dcdcdc solid 1px;
				border-left: #dcdcdc solid 1px;
				border-right: #dcdcdc solid 1px;
				right: 0;
				left: auto;

				p {
					font-size: 14px;
					line-height: 24px;
					text-align: center;
					vertical-align: middle;
					padding: 10px 0 12px;
					margin: 0;
					font-family: 'Montserrat', sans-serif;
				}
	    	}
	    }
	}   
	
	.custom-toggler {
		height: 90px;

		&:focus {
			outline: none;
		}

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
	}
}

nav.shrink {
	background: rgba(0,0,0,0.35);
	
	&.my-navbar {
		border-bottom: #dcdcdc solid 1px;
		height: 70px;
		background: #fff !important;
    	-webkit-transition: all 0.1s ease-out;
    	-moz-transition: all 0.1s ease-out;
    	-o-transition: all 0.1s ease-out;
    	transition: all 0.1s ease-out;

		.nav-item {
			height: 70px;

			.nav-link {
				height: 70px;
				line-height: 70px;
				color: dimgrey !important;
			}

		    &.right-nav {
		    	border-left: #dcdcdc solid 1px;

		    	.nav-link {
	    			// color: #181818 !important;
		    	}
		    }
		}
	}	

	.custom-toggler {
		height: 70px;

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(69, 69, 69)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
	}
}







// Cart
div.dropdown-menu.have-in-cart {
	font-family: 'Montserrat', sans-serif;

	p {
		padding-top: 0 !important;
		font-style: italic;
	}

	button {
		cursor: pointer;
		margin: 12px 10px 0 0;
		float: right;
		border-radius: 0;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
		color: #fff;
	    background-color: #23272b;
	    border-color: #1d2124;
		
		&:hover {
			color: #fff;
			background-color: #343a40;
			border-color: #343a40;
		}

		&:focus {
			    box-shadow: none;
			    outline: none;
		}
	}
}

div.dropdown-menu.have-in-cart .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
	
	&.overlay {
		// position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
    	background-color: rgba(0,0,0, .1);

    	&:hover {
    		background-color: rgba(0,0,0, .1);
    	}
    }
}

div.dropdown-menu.have-in-cart .item:hover {
    background-color: #f8f8f8;
}

div.dropdown-menu.have-in-cart .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

div.dropdown-menu.have-in-cart .item-left img,
div.dropdown-menu.have-in-cart .item-left .item-info {
	// height: 50px;
    float: left;

}

div.dropdown-menu.have-in-cart .item-left .item-info {
    margin: 6px 0 0 10px; 

  	.item-name {
  		font-size: 13px;
  		font-weight: 600;
  		letter-spacing: 0.03em;
  		color: dimgrey;

  		.item-sold-out {
  			margin-right: 5px;
  			text-transform: uppercase;
  			border-radius: 25px;
  			color: #fff;
  			background-color: dimgrey;
  			padding: 2px 5px;
  			font-size: 11px;
  			font-weight: normal;
  		}
  	}

  	.item-price {
  		font-size: 12px;
  		font-weight: normal;
	    letter-spacing: 0.03em;
    	color: #777777;
  	}
}

div.dropdown-menu.have-in-cart .item-left .item-info div {
    display: block;
}

div.dropdown-menu.have-in-cart .item-right {
    height: 50px;
    text-align: right;
}

div.dropdown-menu.have-in-cart .item-right i {
    cursor: pointer;
    line-height: 50px;
    vertical-align: middle;
}






// mega dropdown
.mega-dropdown {
	position: static !important;
}
.mega-dropdown-menu {
	border-radius: 0;
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-top: 4px solid #e6e6e6;
    border-bottom: #dcdcdc solid 1px;

	a {
		color: #9aa7af !important;
		font-family: 'Montserrat', sans-serif;
	}

	a.primary-header {
		font-size: 13px;
    	font-weight: 600;
	}

	a.secondary-header {
	    font-size: 12px;
		letter-spacing: 0.1em;
	}
	
    a.dropdown-header {
    	padding: 6px 0;
    	text-transform: uppercase;

    	&:hover {
    		color: dimgrey !important;
    	}
    }

    a.dropdown-item {
		padding: 6px 0;
	    font-size: 12px;
		letter-spacing: 0.1em;

    	&:hover {
    		color: dimgrey !important;
    		background-color: transparent;
    	}
    }

    .children {
    	padding-left: 5px;
    }
}






// effects when hover navbar
nav a.cl-effect {
	position: relative;
}

nav a:hover,
nav a:focus {
	outline: none;
	text-decoration: none;
}

.cl-effect a.cl-effect {
	padding: 8px 0;
}

.cl-effect a.cl-effect::before {
	position: absolute;
	top: 80%;
	left: 0;
	right: 0;
	width: 30px;
	height: 4px;
	background: dimgrey;
	content: '';
	opacity: 0;
	display: block;
    margin-left: auto;
    margin-right: auto;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect a.cl-effect:hover::before {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.cl-effect a.cl-effect.hidden::before {
	display: none;
}

.cl-effect a.cl-effect.show::before {
	position: absolute;
    top: 80%;
	left: 0;
	right: 0;
	width: 30px;
	height: 4px;
	background: dimgrey;
	content: '';
	opacity: 1;
	display: block;
    margin-left: auto;
    margin-right: auto;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}







/// carousel
.my-carousel {
	width: 100%;
	height: 600px;

	.carousel-item {
		height: 600px;
		max-height: 600px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.carousel-indicators {
		cursor: pointer;
	   	bottom: 35px;

	   	li {
	   		width: 50px;
	   	}
	}

	.fa.fa-angle-left, .fa.fa-angle-right, .carousel-indicators {
		opacity: 0;
		transition: visibility 0s linear 400ms, opacity 400ms;
		visibility: hidden;
	}

	&:hover {

		.fa.fa-angle-left, .fa.fa-angle-right, .carousel-indicators {
			opacity: 1;
			transition: visibility 0s linear 0s, opacity 200ms;
			visibility:visible;
		}		
	}

	.fa.fa-angle-left, .fa.fa-angle-right {
		font-size: 4.125em;
	}
}






// search
.my-search {
	margin-top: -35px;

	.search-box {
		height: 65px;
		display: inline-block;
		width: 100%;
		border-radius: none;
		padding: 4px 55px 4px 15px;
		position: relative;
		background: #fff;
		border: 1px solid #ddd;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}

	.search-box input[type=text] {
		border: none;
		box-shadow: none;
		display: inline-block;
		padding: 0;
		background: transparent;
		height: 55px;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.125em;
		line-height: 56px;
	}
	.search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
		box-shadow: none;
	}
	.search-box .search-btn {
		position: absolute;
		right: 2px;
		top: 2px;
		color: dimgrey;
		border-radius: 3px;
		font-size: 1.563em;
		padding: 8px 15px 8px;
		margin: 5px 0;
		border-left: #dcdcdc solid 1px;

		&:hover {
			cursor: pointer;
		}
			
	}

}



// go to shop now
#shop-now {
    position: relative;
    bottom: 115px;
}




// medias
@media (min-width: 1200px) and (max-width: 1315px) {
	.my-navbar {
		.container-fluid {
			padding: 0;

			.nav-item {
				.nav-link {
				    padding: 0 12px !important;
				}
			}	
		}
	}
}

@media (max-width: 1199px) {
	// nav
	.my-navbar {
		padding-right: 16px;
	}

	.custom-toggler {
		height: 70px;
	}
}

