#etiendahan-404-page {
	font-family: 'Montserrat', sans-serif;
	margin-top: 100px;
	margin-bottom: 250px;
	color: dimgrey;

	.pnf-title {
		h1 {
			font-size: 38px;
			font-weight: 500;
		}
	}

	.pnf-sub-title {
		font-size: 12px;

		a {
			text-decoration: none;
		}
	}
}