#seller-centre-page {
	font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
	color: dimgrey;
	font-size: 12px;

	.social {
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 1.8px;
		line-height: 27.9px;

		ul {
			margin-top: 16px;
			padding: 0;
			list-style: none;
			
			li {
				// display: inline-block;
				float: left;
				margin-right: 8px;

				a {
					text-decoration: none;
					color: dimgrey;
					border: 2px solid #333333;
				    font-size: 18px;
				    height: 36px;
				    width: 36px;
				    text-align: center;
				    line-height: 36px;

				    &:hover {
				    	color: #1e1e1e;
				    }
				}	

				&.google-plus {
					margin: 0;
				}
			}
		}
	}

	.my-navbar {
		.nav-item {
			&.right-nav {
				width: auto;
				padding: 0 15px;
			}
		}
	}

	.fa.fa-sign-out {
		transform: rotate(180deg);
	}

	.breadcrumb-wrapper {
		display: inline-block;
		position: fixed;
		top: 16px;
		left: 190px;
		z-index: 9999999;

		.breadcrumb {
			background-color: transparent;

			.breadcrumb-item {
				text-transform: uppercase;
				letter-spacing: 2.4px;

				a {
					color: #9d9d9d;
				}

				&.active {
					color: dimgrey;
				}
			}
		}
	}

	.nav {
	    background-color: #e9ecef;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: -30px;

		.nav-item {
			text-transform: uppercase;
			letter-spacing: 2.4px;

			a {
				color: #9d9d9d;
			}

			&.active {
				position: relative;
				bottom: 4px;
			}

			.nav-link {
				&.active::before {
				    color: dimgrey;
					position: relative;
					bottom: -50px;
					left: 0;
					right: 0;
					width: 30px;
					height: 4px;
					background: dimgrey;
					content: '';
					opacity: 1;
					display: block;
					margin-left: auto;
					margin-right: auto;
				}	


			}
		}
	}


	.container {
		margin-top: 150px;

		&.home {
			.welcome-message {
				font-size: 35px;
			}

			.buttons {
				margin-top: 50px;

				.wrapper-inner {
					display: inline-block;
				    width: 116px;
				    margin-right: 80px;

				    &.last {
				    	margin-right: 0;
				    }

				    .seller-centre-link {
						color: dimgrey;
						font-size: 15px;
						display: inline-block;
						height: 150px;
						cursor: pointer;
					}

					.fa-wrapper {
						width: 106px;
						padding: 35px;
						background-color: dimgrey;
						display: inline-block;
					    border-radius: 3.25rem !important;
				        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05);

					    .fa {
					    	color: #fff;
					    	font-size: 35px;

					    	&.fa-sign-out {
					    		transform: rotate(180deg);
					    	}
					    }
					}

					.title {
						display: inline-block;
						vertical-align: bottom;    
						position: relative;
						top: 18px;
					}
				}
			}

			.footer {
				margin-top: 145px;
			}
		}

		&.inner {
			margin-top: 45px;

			.products-number {
				padding: 10px 0;
			    border-bottom: 1px solid #dcdcdc;
			    font-weight: bold;
			    font-size: 15px;
			}

			.col-md-2 {
				&.product {
					margin-top: 10px;
					
					a {
						color: dimgrey;
						text-decoration: none;

						.add-a-new-product-wrapper {
							height: 320px;
							text-align: center;
							border: .2rem dashed #dcdcdc;					
							
							.add-a-new-product {
								position: relative;
								top: 37%;

								.fa {
									font-size: 40px;
								}
							}

							&:hover {
								border: .2rem dashed dimgrey;
							}
						}

						.product-wrapper {
							height: 320px;
							text-align: center;
						    border: 1px solid rgba(0, 0, 0, 0.125);

						    .product-image {
						    	height: 155px;
						    	width: 100%;
						    	background-repeat: no-repeat;
						    	background-position: center center;
						    	background-size: cover;
						    	border-bottom: 1px solid #dcdcdc;

						    	.sold-wrapper {
									height: 100%;
									width: 100%;
								    background-color: rgba(0, 0, 0, 0.1);

									.sold {
										text-transform: uppercase;
										position: absolute;
										top: 49px;
										height: 60px;
										width: 60px;
										border-radius: 50%;
										border: 1px solid #dcdcdc;
										display: inline-block;
										line-height: 60px;
										color: #fff;
										right: 34%;
									}
						    	}

						    	.banned-wrapper {
									height: 100%;
									width: 100%;
						        	background-color: rgba(0, 0, 0, 0.5);

									.banned {
										text-transform: uppercase;
										position: absolute;
										top: 49px;
										height: 60px;
										width: 60px;
										border-radius: 50%;
										border: 1px solid #dcdcdc;
										display: inline-block;
										line-height: 60px;
										color: #fff;
										right: 34%;
									}
						    	}
						    }

						    .product-name {
								font-size: 0.750rem;
								font-weight: 600;
								color: #333333;
								margin: 10px 0;
								height: 15px;
								display: -webkit-box;
								-webkit-line-clamp: 1;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
						    }

						    .product-stock {
					    	    display: inline-block;
						    }

					    	.sightings {
								display: inline;
					    	}

					    	.wishlists {
								display: inline;
					    	}

					    	.sales {
								display: inline;
					    	}
						}
					}
				}
			}
		}

		&.products-action {
			margin-top: 45px;

			.product-wrapper {
				background-color: #f8f8f8;

				.title {
					font-size: 18px;
					font-weight: bold;
				}

				.sub-title {
					color: #007bff;
					display: inline;
				}

				form.delete-form {
					position: absolute;
					height: 0;
					width: 0;
					bottom: 25px;
				}

				.form-wrapper {
					label {
						font-weight: 700;
					}

					.form-control {
						font-size: 12px;
					    border-radius: 0;

						&:focus {
							border: 1px solid rgba(0, 0, 0, 0.15);
						}
					}

					.btn-primary {
						margin-top: 10px;
						background-color: #333333;
						border: 0;
						border-radius: 0;
						color: #fff;
						text-transform: uppercase;
						padding: 18px 25px;
						cursor: pointer;

						&:hover, &:focus {
							background-color: #3f3f3f; 
							box-shadow: none;
						}
					}

					#inputProductPrice {
						padding-left: 25px;
					    position: relative;
						left: -10px;
					}


					.peso-sign {
						position: relative;
						left: 25px;
						z-index: 8;
						font-size: 12px;
						top: 8px;
					}
				}

				.btn-primary {
					margin-top: 10px;
					background-color: #333333;
					border: 0;
					border-radius: 0;
					color: #fff;
					text-transform: uppercase;
					padding: 18px 25px;
					cursor: pointer;

					&:hover, &:focus {
						background-color: #3f3f3f; 
						box-shadow: none;
					}

					&.delete {
						position: absolute;
						bottom: 15px;
					}

					&.delete-list {
						background:none!important;
						color:inherit;
						border:none; 
						padding:0!important;
						font: inherit; 
						cursor: pointer;
					}
				}

				
				.cancel-forgot-password {
					position: absolute;
					z-index: 9999;
					right: 155px;
					bottom: 60px;

					&.product-details {
						display: inline;
						position: relative;
						z-index: 9999;
						bottom: -45px;
						left: 880px;
					}

					a {
						text-decoration: none;
					}
					
				}
			}
		}
	}

	.info {
		width: 80%;

		.title {
			font-size: 32px;
			font-weight: 600;
		}

		.sub-title {
		    font-size: 18px;
		}
		
		.image-wrapper {
			display: inline-block;
			position: relative;
			left: 25%;

			.image {
				text-align: center;
				margin-top: 30px;
				height: 200px;
				width: 200px;
				background-size: cover;
				background-position: left center;
				background-repeat: no-repeat;
			}
		}
	}

	.footer {
		color: #ccc;
		text-align: center;
		margin-top: 60px;

		.site-image {
			height: 40px;
			width: 40px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			position: relative;
			left: 530px;
		}
	}

	.login-wrapper {
		background-color: #f8f8f8;
        box-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0,.09);
		padding: 20px;

		.title {
			font-weight: bold;
			font-size: 25px;
		}

		.form-group {

			&.read-and-understood {
				font-size: 12px;

				a {
					text-decoration: none;
				}
			}

			label.col-form-label {
				font-size: 12px;
				font-weight: 700;
				padding-right: 0;
			}

			label {
				font-size: 12px;
			}

			.form-control {
				font-size: 12px;
			    border-radius: 2rem;

				&:focus {
					border: 1px solid rgba(0, 0, 0, 0.15);
				}
			}

			input.form-check-input {
				outline: none;
			}

			.input-group-addon {
				border-radius: 0;
				padding: 5px 12px;
			    border: 1px solid rgba(0, 0, 0, 0.15) !important; 

				i {
					color: dimgrey;
				}

				a:focus {
					outline: none;
				}
			}
			
			.btn-primary {
				margin-top: 10px;
				background-color: #333333;
				border: 0;
				border-radius: 0;
				color: #fff;
				text-transform: uppercase;
				padding: 10px 25px;
				cursor: pointer;
				width: 100%;
				border-radius: 2rem;

				&:hover, &:focus {
					background-color: #3f3f3f; 
					box-shadow: none;
				}
			}
		}

		.tooltip-wrapper {
		    display: inline;
	        position: absolute;
			right: 35px;
			top: 170px;
				
			a {
				color: inherit;
				
				.fa {
					font-size: 20px;


				}
			}
		}
	}

	.saved-image {
		height: 155px;
		width: 100%;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
	    border: 1px solid #dcdcdc;
	}
	
	a {
		&.text-danger {
			text-decoration: none;
		}
	}

	button {
		&.delete-image {
			background:none!important;
			color:inherit;
			border:none; 
			padding:0!important;
			font: inherit;
			cursor: pointer;

			&:focus {
				outline: none;
			}
		}
	}

	.label-for-upload-image {
		font-weight: 700;
		width: 100%;
		height: 155px;
		margin-bottom: 0;
		padding: 0;
		border: 2px dashed #dcdcdc;

		&:hover {
		    border: 2px dashed dimgrey;
		    cursor: pointer;
		}

		.wrapper-inner {
			position: relative;
			top: 37%;

			.fa {
				font-size: 20px;
			}

			div {
				font-weight: 400;
			}
		}
	}

	.btn-primary.delete-list {
		background-color: #333333;
		border: 0;
		border-radius: 0;
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 9px;
		position: relative;
		bottom: 2px;
		padding: 6px;

		&:focus {
			box-shadow: none;
		}
	}
}

.ribbon {
	left: 124px;
	top: 1px;
    line-height: 0;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
	display: block;
	width: 35px;
	height: 25px;
	background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#CCCCCC));
	background: linear-gradient(to bottom, #999999 0%, #CCCCCC 100%);
	color: white;
	float: left;
	padding-top: 1rem;
	position: relative;

	&.view {
		position: absolute;
		z-index: 1;
	    left: 119px;
	}

	&.view-product {
		position: absolute;
		z-index: 1;
	    left: 178px;
	}

	&.related {
		position: absolute;
		z-index: 1;    
		left: 172px;
    	top: 1px;
	}

	&.product-image {
		position: absolute;
		z-index: 1;   
		left: 499px;
    	top: 1px;
    	line-height: 1;
    	width: 55px;
    	height: 42px;
    	font-size: 15px;

    	&:after {
			content: "";
			width: 0;
			height: 0;
			border-right: 28px solid transparent;
			border-left: 28px solid transparent;
			position: absolute;
			top: 42px;
			left: 0;
    	}

    	&.ribbon--dimgrey {
	    background: dimgrey;

	    &:after {
			    border-top: 15px solid dimgrey;
		    }
	  	}
	}

 	&:after {
		content: "";
		width: 0;
		height: 0;
		border-right: 17px solid transparent;
		border-left: 18px solid transparent;
		position: absolute;
		top: 25px;
		left: 0;
	}

  	&.ribbon--dimgrey {
	    background: dimgrey;

	    &:after {
		    border-top: 10px solid dimgrey;
	    }
  	}
}