#etiendahan-customer-page-section-1 {
	font-family: 'Montserrat', sans-serif;
	margin-top: 100px;
	color: dimgrey;

	.col-md-3 {
		.card {
			.card-header {
			    background-color: #f8f8f8;

				&.active {
					a {
						font-weight: 600;
					}
				}

				a {
					text-decoration: none;
					color: dimgrey;
					font-size: 13px;
				}
			}

			.card-body {
				&.personal-info {
					padding-top: 10px;
					padding-bottom: 5px;
				}

				ul {
					padding-left: 20px;

					li {
						list-style-type: none;
						
						&.active {
							font-weight: 600;
						}

						a {
							text-decoration: none;
							color: dimgrey;
							font-size: 12px;
						}
					}
				}
			}
		}
	}

	.col-md-8 {
		height: 550px;
		overflow: auto;
		background-color: #f8f8f8;

		.tab-content {
			margin-top: 20px;
			padding-bottom: 2px;
			margin-bottom: 10px;
			border-bottom: 1px solid #dcdcdc;

			h1 {
				font-size: 20px;
				font-weight: 600;
				display: inline;
			}

			p {
				font-size: 12px;
			}

			.btn-primary {
				background-color: #333333;
				border: 0;
				border-radius: 0;
				color: #fff;
				text-transform: uppercase;
				padding: 8px 25px;
				cursor: pointer;
				position: absolute;
				right: 15px;
				top: 6px;

				&:hover, &:focus {
					background-color: #3f3f3f; 
					box-shadow: none;
				}

				.fa {
					font-size: 15px;
					font-weight: 100;
				    margin-right: 10px;
				}
			}
			
		}

		p {
			font-size: 12px;
		}

		.modal {
			.modal-content {
				.modal-header {
					.modal-title {
						font-size: 20px;
						font-weight: 600;
					}
				}
				.modal-body {
					
				}
				.modal-footer {
					button {
						&.btn-secondary {
							color: dimgrey;
							font-size: 12px;
							background-color: #fff;
							border-color: #fff;
							box-shadow: none;
							cursor: pointer;
						}

						&.btn-primary {
							text-transform: uppercase;
							background-color: #333333;
							border: 0;
							border-radius: 0;
							color: #fff;
							text-transform: uppercase;
							padding: 8px 25px;
							cursor: pointer;

							&:hover, &:focus {
								background-color: #3f3f3f; 
								box-shadow: none;
							}
						}
					}
				}
			}
		}
			
		.modal-dialog {
			min-height: calc(100vh - 100px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			overflow: auto;
			@media(max-width: 768px) {
				min-height: calc(100vh - 20px);
			}
		}

		.form-group {

			label.col-form-label {
				font-size: 12px;
				font-weight: 700;
				padding-right: 0;
			}

			label {
				font-size: 12px;
			}

			select.form-control {
				height: 34px;
			}

			.form-control {
				font-size: 12px;
			    border-radius: 0;

				&:focus {
					border: 1px solid rgba(0, 0, 0, 0.15);
				}

				&#inputPasswordNew {
				    border-right-width: 0px;
				}
			}

			input.form-check-input {
				outline: none;
			}

			.input-group-addon {
				border-radius: 0;
				padding: 5px 12px;

				i {
					color: dimgrey;
				}

				a:focus {
					outline: none;
				}
			}
			
			.btn-primary {
				margin-top: 10px;
				background-color: #333333;
				border: 0;
				border-radius: 0;
				color: #fff;
				text-transform: uppercase;
				padding: 18px 25px;
				cursor: pointer;

				&:hover, &:focus {
					background-color: #3f3f3f; 
					box-shadow: none;
				}
			}

			.email {
				margin-top: 5px;
				font-size: 12px;

				a {
					text-decoration: none;
				}
			}

			.progress {
				position: absolute;
				display: inline;
				top: 33px;
				left: 15px;
				width: 603px;
				height: 12px;
				font-size: 8px;
			}
		}

		#three-col {
			.row {
				margin-left: 1px;
				width: 83%;
			}

			.col-md-4 {
				padding: 0px 14px;
			}
		}

		.cancel-forgot-password {
			a {
				text-decoration: none;
				color: dimgrey;
				font-size: 12px;
			}
		}

		// address
		.row {
			.col-md-10 {
				font-size: 12px;
				margin-top: 10px;

				.separator {
					border-bottom: 1px solid #dcdcdc;
					margin: 10px 0;
					position: relative;
					left: 10%;
				}
				
			}
			.col-md-2 {
				font-size: 15px;

				a.address-fa {
					color: #333;
					text-decoration: none;
				    border-radius: 50%;
					background: #f8f8f8;
					display: inline-block;
					padding: 5px;
					height: 30px;
					width: 33px;
					text-align: center;
					border: 1px solid #dcdcdc;

					.fa.fa-edit {
					    position: relative;
						left: 1px;
						bottom: 1px;
					}

					.fa.fa-close {
						position: relative;
					    bottom: 2px;
					}
				}

				span {
					position: relative;
					bottom: 2px;
				}

				.btn-primary {
					text-transform: uppercase;
					background-color: #333333;
					border: 0;
					border-radius: 0;
					color: #fff;
					text-transform: uppercase;
					padding: 8px 25px;
					cursor: pointer;
					position: relative;
					right: 54px;
					font-size: 12px;
					top: 38px;

					&:hover, &:focus {
						background-color: #3f3f3f; 
						box-shadow: none;
					}
				}
			}
		}

		// wishlists
		.row {
			.col-md-12 {
				font-size: 12px;

				table {
					thead {
						text-transform: uppercase;
						font-weight: 600;
						border-bottom: 2px solid #e5e5e5;
						background: #fafafa;

					}

					tbody {
						tr {
							th, td {
								border-top: none;
							}

							th {
								width: 23%;

								.separator {
						        	width: 425%;
								    border-bottom: 1px solid #dcdcdc;
									position: relative;
									top: 15px;
									left: 50px;
								    margin-bottom: 3px;
								}
							}

							td.item-name {
							    width: 45%;
							    margin-right: 20px;

							    a {
							    	text-decoration: none;
									color: dimgrey;
									display: block;
									height: 100%;
									display: -webkit-box;
									-webkit-line-clamp: 2;
									-webkit-box-orient: vertical;
									overflow: hidden;
									text-overflow: ellipsis;
							    }
							}

							td.item-price {
								width: 18%;
							}

							td.action {
								position: relative;
								bottom: 5px;
								padding: 12px 0;
							}
						}

						a {
							text-decoration: none;
							color: dimgrey;
						}

						a#action {
							color: #333;
							text-decoration: none;
						    border-radius: 50%;
							background: #f8f8f8;
							display: inline-block;
							padding: 5px;
							height: 30px;
							width: 33px;
							text-align: center;
							border: 1px solid #dcdcdc;

							.fa.fa-edit {
								position: relative;
								left: 2px;
								top: 1px;
							}
						}

						.my-item-inner {
							text-decoration: none;
							width: 110px;
							
							&:focus {
								outline: none;
							}

							.item-image {
								.img-fluid {
								width: 110px;
								height: 110px;
								background-repeat: no-repeat;
								background-position: center center;
								background-size: cover;
								}
							}
						}
					}
				}
				
				// wishlists last row
				table tbody tr:last-child th .separator {
					display: none;
				}
			}
		}

		// orders
		#order-header {
			font-size: 13px;

			&.row {
				.col-md-5 {
					.order-number {
						a {
							text-decoration: none;
						}
					}					
				}

				.col-md-7 {
					.order-manage {
						text-transform: uppercase;

						a {
							text-decoration: none;
						}
					}
				}
			}
		}

		#order-content {
			font-size: 12px;
			margin-top: 10px;

			&.row {
				.col-md-6 {
					.row {
						.col-md-4 {
							.item-product {
								.my-item-product-inner {
									text-decoration: none;
									
									&:focus {
										outline: none;
									}

									.item-image {
										.img-fluid {
											width: 110px;
										    height: 90px;
											background-repeat: no-repeat;
											background-position: center center;
											background-size: cover;
										}
									}
								}
							}
						}

						.col-md-8 {
							height: 110px;
							padding: 0 10px 0 0;

							.item-name {
								height: 35px;
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;

								a {
									text-decoration: none;
									color: dimgrey;
									display: block;
								}
							}

							.item-status {
								margin-top: 5px;
								display: inline-block;
								font-size: 10px;
								border-radius: 12px;
								border: 1px solid #dcdcdc;

								a {
									display: block;
									padding: 2px 12px 2px 12px;
									text-decoration: none;
									color: dimgrey;
								}
							}
						}
					}
				}

				.separator {
					border-bottom: 1px solid #dcdcdc;
					margin: 0 0 12px 0;
					position: relative;
					left: 10%;
					width: 80%;
				}
			}
		}

		// order view
		#order-header-view {
			font-weight: 600;
			font-size: 13px;
			border: 1px solid #b9b9c3;
			margin: 0;
			padding: 10px 0;

			&.row {
				.col-md-4 {

					.order-number {
						a {
							text-decoration: none;
						}
					}

				}
			}

		}

		.order-wrapper-content {
			border: 1px solid #dcdcdc;
			margin: 0;
			padding: 10px 0;

			#order-header-view-package-seller {
				font-size: 12px;
				margin: 0;
				border-bottom: 1px solid #dcdcdc;
				padding: 0 0 10px 0;

				&.row {
					.col-md-6 {

						&.text-left {
							vertical-align: middle;
							line-height: 22px;
						}

						span {
							display: inline-block;
						}

						a {
							text-decoration: none;
							font-size: 12px;

							.btn-primary {
								font-size: 12px;
								background-color: #333333;
								border: 0;
								border-radius: 0;
								color: #fff;
								text-transform: lowercase;
								padding: 5px 8px;
								cursor: pointer;

								&:hover, &:focus {
									background-color: #3f3f3f; 
									box-shadow: none;
								}
							}
						}

						
					}
				}
			}

			#order-delivery-shipping {
				font-size: 12px;
				margin: 0;
				margin-top: 10px;
				border-bottom: 1px solid #dcdcdc;
				padding-bottom: 8px;

				&.row {
					.col-md-12 {
						.order-delivery-shipping-name {

						}

						.order-delivery-shipping-date {
							font-size: 10px;
						}
					}
				}
			}

			#order-delivery-status {
				margin: 50px 100px 30px 100px;


				&.row {
					.col-md-12 {
						font-size: 10px;
						padding: 0;

						.progress {
							height: 8px;

							.one, .two, .three{
							    position:absolute;
								margin-top:-10px;
								z-index:1;
								height: 20px;
								width: 20px;
								border-radius:25px;
								
							}
							.one{
								left: 0;
							    top: 3px;
							    background-color: dimgrey;
							}

							.two{
								left: 49%;
							    top: 3px;
							    background-color: dimgrey;
							}

							.three{
								right: 0;
							    top: 3px;
							    background-color: dimgrey;
							}

							.no-color{
								background-color: inherit;
							}

							.progress-bar {
								background-color: dimgrey;
							}
						}

						.processing-text {
							position: absolute;
					        bottom: -25px;
							left: -3%;
						}

						.shipped-text {
							position: absolute;
					        bottom: -25px;
							left: 47%;
						}

						.delivered-text {
							position: absolute;
							bottom: -25px;
							left: 94%;
						}
					}
				}
			}

			#order-delivery-content {
			font-size: 12px;
			margin: 0;
			margin-top: 65px;
		    height: 100px;

				&.row {
					.col-md-12 {
						.row {
							.col-md-2 {
								.item-product {
									.my-item-product-inner {
										text-decoration: none;
										
										&:focus {
											outline: none;
										}

										.item-image {
											.img-fluid {
												width: 90px;
												height: 90px;
												background-repeat: no-repeat;
												background-position: center center;
												background-size: cover;
											}
										}
									}
								}
							}

							.col-md-6 {
								height: 110px;
								padding: 0 10px 0 0;

								.item-name {
									height: 35px;
									display: -webkit-box;
									-webkit-line-clamp: 2;
									-webkit-box-orient: vertical;
									overflow: hidden;
									text-overflow: ellipsis;

									a {
										text-decoration: none;
										color: dimgrey;
										display: block;
									}
								}
							}

							.col-md-2 {
								font-size: 12px;
							}
						}
					}
				}
			}
		}	
	}
	
	// address last row
	.row .col-md-8 .row:last-child .col-md-10 .separator  {
		display: none;
	}

	// orders last row
	.row .col-md-8 #order-content:last-child .separator {
		display: none;
	}

	// order view last row
	.row .col-md-8 .order-wrapper-content:last-child {
		margin-bottom: 16px;
	}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 
}