#etiendahan-forgot-password-page-section-1 {
	font-family: 'Montserrat', sans-serif;
	margin-top: 100px;
	color: dimgrey;

	.page-title {
		margin-bottom: 20px;
	}

	.page-title-sub-title {
		margin-bottom: 20px;

		p {
			font-size: 12px;
		}
	}

	.col-md-4.wrapper {
		background-color: #f8f8f8;
		padding: 20px;

		.form-group {

			label.col-form-label {
				font-size: 12px;
				font-weight: 700;
				padding-right: 0;
			}

			label {
				font-size: 12px;
			}

			.form-control {
				font-size: 12px;
			    border-radius: 0;

				&:focus {
					border: 1px solid rgba(0, 0, 0, 0.15);
				}

				&#inputPasswordNew {
				    border-right-width: 0px;
				}
			}
			
			.btn-primary {
				margin-top: 30px;
				background-color: #333333;
				border: 0;
				border-radius: 0;
				color: #fff;
				text-transform: uppercase;
				padding: 18px 25px;
				cursor: pointer;

				&:hover, &:focus {
					background-color: #3f3f3f; 
					box-shadow: none;
				}
			}
		}

		.cancel-forgot-password {
			a {
				text-decoration: none;
				color: dimgrey;
				font-size: 12px;
			}
		}
	}
}