#etiendahan-view-product-page {
	font-family: 'Montserrat', sans-serif;
    margin-top: 70px;
	color: dimgrey;
	font-size: 12px;

	.breadcrumb {
		padding-top: 24px;
		padding-bottom: 24px;
		margin-bottom: 20px;

		.breadcrumb-item {
			text-transform: uppercase;
			letter-spacing: 2.4px;

			&.active {
				color: dimgrey;

				&.product-view {
					width: 800px;
				    color: dimgrey;
				    font-size: 0.750rem;
				    height: 17px;
				    display: -webkit-box;
				    -webkit-line-clamp: 1;
				    -webkit-box-orient: vertical;
				    overflow: hidden;
				    text-overflow: ellipsis;
				}
			}

			.fa {
				font-size: 13px;
				margin-right: 3px;
			}

			a {
				color: #9d9d9d;
			}
		}
	}

	.container {
		&.view-product {
			// carousel
			.carousel-indicators .active {
				// position: absolute;
				// top: 12% !important;
				// width: 53px;
				height: 53px;
				background: #222;
			}

			.carousel-control {
				color: dimgrey;
				position: relative;
				left: 40px;
				font-size: 20px;

				.fa.fa-caret-square-o-left {
					position: relative;
					top: 10px;
				}
			}

			/* --------- END --------- */

			.carousel {
			    height:100%;
				margin-bottom: 0;
				/*padding: 50px 40px 50px 0px;*/
			}

			/*.carousel-control {
				left: 107px;
			}
			.carousel-control.right {
				right: -5px;
				top:79%!important;
			}*/



			/*For top Indicator*/

			.carousel-indicators-top {
				right: 50%;
				top: auto;
				bottom: 0px;
				margin-rightight: -19px;
			}

			.carousel-indicators-top li {
				background: #333333;
			}

			.carousel-indicators-top .active {
				background: #333333;
			}
			 
			 /* vertical start*/

			.vertical .carousel-inner {
				/*height: 74%;*/
				padding-top:0px;
			}

			.carousel.vertical .active {
				top: 0;
			}

			.carousel.vertical .next {
				top: 100%;
			}

			.carousel.vertical .prev {
				top: -100%;
			}

			.carousel.vertical .next.left,
			.carousel.vertical .prev.right {
				top: 0;
			}

			.carousel.vertical .active.left {
				top: -100%;
			}

			.carousel.vertical .active.right {
				top: 100%;
			}

			.carousel.vertical .item {
				left: 0;
			}â€‹

			/*Overwriten Bootstrap Classis*/
			a {
				display: block;
				background-size: cover;
				background-position: center center;
			}
			.custom-carousel-inner{
				overflow: hidden;
			    position: relative;
			    height: 320px;
			    margin-top: 15px;
			}
			.single-container{
			    width: 100%;
			    height: 405px;
			    background-size: cover !important;
			    background-position: center center !important;
			    background-repeat: no-repeat !important;
			    border: #dcdcdc solid 1px;
			}

			.single-container img{
				width: 100%;
			    height: 100%;
			}

			.span3 {
				display: block;
				border: #dcdcdc solid 1px;
				margin-bottom: 5px;
				height: 100px;
				width: 100px;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;

				&:hover {
			    	border: #000000 solid 1px;
				}
			}

			.carousel-control-prev-icon, .carousel-control-next-icon {
				position: relative;
			 	left: 2px;
			 }

			.product-shop-wrapper {
				border: #dcdcdc solid 1px;
				
				.product-name-wrapper {
					border-bottom: #dcdcdc solid 1px;	

					.product-name {
						margin: 30px 0 30px 20px;
						font-size: 14px;
					    font-weight: 600;
					    color: dimgrey;
					}
				}

				.product-detail {
					margin-left: 20px;
					display: inline-block;

					.product-price {
						font-size: 24px;
						padding-top: 20px;
						color: #000;
					}

					.product-rating {
						padding-bottom: 20px;
					}

					.product-share {
						font-size: 14px;
						padding-bottom: 20px
					}
				}

				.product-seller {
					display: inline;
					position: relative;
					top: 30px;
					right: 20px;

					span {
							display: inline-block;
					}

					a {
						text-decoration: none;
						font-size: 12px;

						.btn-primary {
							font-size: 12px;
							background-color: #333333;
							border: 0;
							border-radius: 0;
							color: #fff;
							text-transform: lowercase;
							padding: 5px 8px;
							cursor: pointer;

							&:hover, &:focus {
								background-color: #3f3f3f; 
								box-shadow: none;
							}
						}
					}
				}

				.product-button {
					padding: 15px 20px;
					border-top: #dcdcdc solid 1px;	

					.quantity {
						width: 110px;
						display: inline-block;
						position: relative;
						top: 6px;
					}
					
					button {
						border-radius: 0;
					    background-color: #f1f1f1;
    					padding: 5px 10px;

					    span {
					    	&.fa {
					    		font-size: 12px;
					    	}
					    }

					    &:focus {
					    	box-shadow: none;
					    }

					    &:hover {
							background-color: #181818;
							color: #fff;
					    }
					}

					input {
						font-size: 12px;
						padding-top: 5px;
						padding-bottom: 5px;

						&:focus {
							border: 1px solid rgba(0, 0, 0, 0.15);
						}
					}

					.btn-primary {
						margin-left: 15px;
						background-color: #333333;
						border: 0;
						border-radius: 0;
						color: #fff;
						text-transform: uppercase;
						padding: 18px 25px;
						cursor: pointer;

						&:hover, &:focus {
							background-color: #3f3f3f; 
							box-shadow: none;
						}
					}

					.product-add-to-wishlist {
						display: inline;
						position: relative;
						left: 36%;
					    top: 4px;
						
						[id="heart"] {
							position: absolute;
							left: -100vw;
						}

						[for="heart"] {
							color: #aab8c2;
							cursor: pointer;
							font-size: 40px;
							position: absolute;
							right: -32px;
							bottom: -30px;
							align-self: center;  
							transition: color 0.2s ease-in-out;
						}

						[for="heart"]:hover {
							color: grey;
						}

						[for="heart"]::selection {
							color: none;
							background: transparent;
						}

						[for="heart"]::moz-selection {
							color: none;
							background: transparent;
						}

						[id="heart"]:checked + label {
							color: dimgrey;
							will-change: font-size;
							animation: heart 1s cubic-bezier(.17, 2, .32, 2);
						}

						@keyframes heart {0%, 17.5% {font-size: 0;}}

						// heart1
						[id="heart1"] {
							position: absolute;
							left: -100vw;
						}

						[for="heart1"] {
							color: #aab8c2;
							cursor: pointer;
							font-size: 40px;
							position: absolute;
							right: -32px;
							bottom: -30px;
							align-self: center;  
							transition: color 0.2s ease-in-out;
						}

						[for="heart1"]:hover {
							color: grey;
						}

						[for="heart1"]::selection {
							color: none;
							background: transparent;
						}

						[for="heart1"]::moz-selection {
							color: none;
							background: transparent;
						}

						[id="heart1"]:checked + label {
							color: #aab8c2 !important;
						}

						.dimgrey {
							color: dimgrey;
						}


						

						// i {
						// 	cursor: pointer;

						// 	&.fa {
						// 		font-size: 25px;
						// 		color: dimgrey;

						// 		&.active {
						// 			background-color: dimgrey;
						// 		}
						// 	}
						// }
					}
				}
			}

			.col-md-12 {
			    margin-bottom: 90px;
				
				.nav-item {
					text-transform: uppercase;
					color: #98a5ae;

					&.active {
					    color: #333333;
					}
				}

				.tab-content {
					border-left: 1px solid #ddd;
					border-right: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					padding: 20px;

					.tab-pane {
						color: #98a5ae;
						line-height: 24px;

						.rating-header {
							border-bottom: 1px solid #ECECEC;
							padding-bottom: 15px;

							.head {
								font-size: 24px;
								margin: 0 0 12px 0;
							}

							.rate-reviews {
								display: inline-block;

								i {
									&.fa.fa-star {
										font-size: 140%;
										position: relative;
										top: 1px;
										width: 18px;
										height: 1.3em;
									}

									&.fa.fa-star-o {
										font-size: 140%;
										position: relative;
										top: 1px;
										width: 18px;
										height: 1.3em;
									}
								}
							}

							.write-a-review {
								display: inline-block;

								a {
									color: inherit;
									text-decoration: none;
								}
							}
						}

						.card-body {
							background-color: #f8f8f8;
							margin-top: 20px;
							border: 0;
							padding: 20px;

							.write-a-review {
								margin-bottom: 8px;
							}

							label {
								color: #9aa7af;
								font-size: 13px;
								font-weight: 700;
							}

							.form-control {
								font-size: 12px;
							    border-radius: 0;

								&:focus {
									border: 1px solid rgba(0, 0, 0, 0.15);
								}
							}

							.btn-primary {
								margin-top: 10px;
								background-color: #333333;
								border: 0;
								border-radius: 0;
								color: #fff;
								text-transform: uppercase;
								padding: 18px 25px;
								cursor: pointer;

								&:hover, &:focus {
									background-color: #3f3f3f; 
									box-shadow: none;
								}
							}

							/* Rating Star Widgets Style */
							.rating-stars ul {
							  list-style-type:none;
							  padding:0;
							  
							  -moz-user-select:none;
							  -webkit-user-select:none;
							}
							.rating-stars ul > li.star {
							  display:inline-block;
							  
							}

							/* Idle State of the stars */
							.rating-stars ul > li.star > i.fa {
							  font-size:2.5em; /* Change the size of the stars */
							  color:#ccc; /* Color on idle state */
							}

							// * > .fa.fa-hover-show,
							// *:hover > .fa.fa-hover-hidden {
							// display: none;
							// }
							// *:hover > .fa.fa-hover-show {
							// display: inline-block;
							// }

							/* Hover state of the stars */
							.rating-stars ul > li.star.hover > i.fa {
							  color:#9aa7af;
							}

							/* Selected state of the stars */
							.rating-stars ul > li.star.selected > i.fa {
							  color:dimgrey;
							}
						}

						.rate {
							margin-top: 20px;
							padding-bottom: 15px;
							border-bottom: 1px solid #ECECEC;

							.rate-reviews {
								display: inline-block;

								i {
									&.fa.fa-star {
										font-size: 140%;
										position: relative;
										top: 1px;
										width: 18px;
										height: 1.3em;
									}

									&.fa.fa-star-o {
										font-size: 140%;
										position: relative;
										top: 1px;
										width: 18px;
										height: 1.3em;
									}
								}
							}

							.rate-name-and-date {
								strong {
									font-style: italic;
								}
							}

							.rate-body {
								margin-top: 5px;
							}
						}
					}
				}
			}
		}
	}

	// ratings last row
	.row .col-md-12 .tab-content .rate:last-child {
		border-bottom: transparent !important;
	}

	.product-slider {
    	width: 100%;

		ul {
		    list-style: none outside none;
		    padding-left: 0;
		    margin-bottom:0;
		}
		li {
		    display: block;
		    float: left;
		    margin-right: 6px;
		    cursor:pointer;
		}
		img {
		    display: block;
		    height: 35px;
		    width: 100%;
	        border: #dcdcdc solid 1px;
		}
	}

	.fa {
		&.fa-arrow-circle-o-right {
			position: relative;
			right: 5px;
		}

		&.product-view {
			font-size: 45px;
			color: #333;
			position: relative;
			bottom: 2px;
		}
	}

	.items-left {
		position: absolute;
		top: 233px;
		left: 63px;
		z-index: 1;
	}

	.wishlists-form {
		position: absolute;
		left: 293px;
		top: -15px;
	}
}

.lSPager.lSGallery {
	li {

		&.active {
		border-radius: 0 !important;
		border: #333333 solid 2px;
		margin-top: 5px;

			img {
				border: 0 !important;
				border-radius: 0;
			}
		}
	}

	li:hover {
		border-radius: 0 !important;
	}	
}

.product-button {
	padding: 15px 20px;

	&.quantity {
		
		span {
		    button {
				border-radius: 0;
			    background-color: #f1f1f1;
				padding: 5px 10px;

				.fa {
	    			font-size: 12px;
		    	}

				&:focus {
		    	box-shadow: none;
			    }

			    &:hover {
					background-color: #181818;
					color: #fff;
			    }
		    } 
		}

		input {
			font-size: 14px;
			padding-top: 5px;
			padding-bottom: 5px;
			width: 35px;

			&:focus {
				border: 1px solid rgba(0, 0, 0, 0.15);
			}
		}
	}
	
	
}

.add-to-cart-form {
	position: relative;
    height: 12px;
    width: 0;
    bottom: 38px;
    left: 130px;
}