// Homepage welcome message
#etiendahan-section-4 {
	font-family: 'Montserrat', sans-serif;
	margin-top: 24px;
	// border-top: #dcdcdc solid 1px;
	// border-bottom: #dcdcdc solid 1px;
	
	.title-name {
	    text-align: center;
		// text-transform: uppercase;
		font-size: 22px;
		color: #000;
		line-height: 50px;
		position: relative;
		
		a {
			position: relative;
		    top: 100px;
		    right: 0;
		    color: #000;
		    font-size: 15px;
		    width: 100%;
			text-decoration: none;
				
			.fa.fa-chevron-right {
				font-size: 12px;
			}

		}

		span {
		    height: 50px;
		    line-height: 48px;
		    text-align: center;
		    display: inline-block;
		    border: 1px solid #e6e6e6;
		    background-color: #FFFFFF;
		    z-index: 2;
		    font-size: 22px;
		    letter-spacing: 0.2em;
		    font-weight: 400;
		    padding: 0 20px;
		    position: relative;
		}
	}

	.title-name::after {
	    display: block;
		content: '';
		position: absolute;
		bottom: 25px;
		height: 1px;
		left: 15px;
		right: 15px;
		background-color: #e6e6e6;
		z-index: 1;
	}
	
	.container {
		// padding: 0;

		.welcome-message-image {
			height: 450px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			margin-bottom: 25px;
		}
		
		.welcome-message-overlay {
			position: relative;
			background: dimgrey;
			// height: 100%;
			height: 400px;
			overflow: hidden;
			color: #fff;

			

			.welcome-message-title {
				position: absolute;
				top: 40%;
			    font-size: 50px;
				text-transform: uppercase;
				line-height: 1;
				margin-top: 0;
				font-weight: 700;
				width: 100%;
				text-align: center;
			}

			.welcome-message-intro {
				position: absolute;
			    top: 60%;
    			font-size: 18px;
				font-family: 'Crimson Text', serif;
				font-style: italic;
				line-height: 1;
				letter-spacing: 0.025em;
				width: 100%;
				text-align: center;
			}

			.welcome-message-hashtag {
				position: absolute;
			    top: 66%;
    			font-size: 18px;
				font-family: 'Crimson Text', serif;
				font-style: italic;
				line-height: 1;
				letter-spacing: 0.025em;
				width: 100%;
				text-align: center;

				a {
					display: inline-block;
					color: inherit;
					text-decoration: underline;
				}
			}
		}

		
	}
}