// Homepage footer copyright
#etiendahan-section-8 {
	font-family: 'Montserrat', sans-serif;
	height: 100px;
    background-color: #1b1d1c;

	.footer-title {
		line-height: 100px;
		color: #acacac;
		font-size: 12px;

		a {
			font-weight: bold;
			color: #f7931e;
			text-decoration: none;
		}
	}
}