#etiendahan-view-item-page {
	font-family: 'Montserrat', sans-serif;
    margin-top: 70px;
	color: dimgrey;
	font-size: 12px;

	.breadcrumb {
		padding-top: 24px;
		padding-bottom: 24px;
		margin-bottom: 20px;

		.breadcrumb-item {
			text-transform: uppercase;
			letter-spacing: 2.4px;

			&.active {
				color: dimgrey;
			}

			.fa {
				font-size: 13px;
				margin-right: 3px;
			}

			a {
				color: #9d9d9d;
			}
		}
	}

	// electronics
	.container {
		&.view-item {
			// carousel
			.carousel-indicators .active {
				// position: absolute;
				// top: 12% !important;
				// width: 53px;
				height: 53px;
				background: #222;
			}

			.carousel-control {
				color: dimgrey;
				position: relative;
				left: 40px;
				font-size: 20px;

				.fa.fa-caret-square-o-left {
					position: relative;
					top: 10px;
				}
			}

			/* --------- END --------- */

			.carousel {
			    height:100%;
				margin-bottom: 0;
				/*padding: 50px 40px 50px 0px;*/
			}

			/*.carousel-control {
				left: 107px;
			}
			.carousel-control.right {
				right: -5px;
				top:79%!important;
			}*/



			/*For top Indicator*/

			.carousel-indicators-top {
				right: 50%;
				top: auto;
				bottom: 0px;
				margin-rightight: -19px;
			}

			.carousel-indicators-top li {
				background: #333333;
			}

			.carousel-indicators-top .active {
				background: #333333;
			}
			 
			 /* vertical start*/

			.vertical .carousel-inner {
				/*height: 74%;*/
				padding-top:0px;
			}

			.carousel.vertical .active {
				top: 0;
			}

			.carousel.vertical .next {
				top: 100%;
			}

			.carousel.vertical .prev {
				top: -100%;
			}

			.carousel.vertical .next.left,
			.carousel.vertical .prev.right {
				top: 0;
			}

			.carousel.vertical .active.left {
				top: -100%;
			}

			.carousel.vertical .active.right {
				top: 100%;
			}

			.carousel.vertical .item {
				left: 0;
			}â€‹

			/*Overwriten Bootstrap Classis*/
			a {
				display: block;
				background-size: cover;
				background-position: center center;
			}
			.custom-carousel-inner{
				overflow: hidden;
			    position: relative;
			    height: 320px;
			    margin-top: 15px;
			}
			.single-container{
			    width: 100%;
			    height: 405px;
			    background-size: cover !important;
			    background-position: center center !important;
			    background-repeat: no-repeat !important;
			    border: #dcdcdc solid 1px;
			}

			.single-container img{
				width: 100%;
			    height: 100%;
			}

			.span3 {
				display: block;
				border: #dcdcdc solid 1px;
				margin-bottom: 5px;
				height: 100px;
				width: 100px;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;

				&:hover {
			    	border: #000000 solid 1px;
				}
			}

			.carousel-control-prev-icon, .carousel-control-next-icon {
				position: relative;
			 	left: 2px;
			 }

			.product-shop-wrapper {
				border: #dcdcdc solid 1px;
				
				.product-name-wrapper {
					border-bottom: #dcdcdc solid 1px;	

					.product-name {
						margin: 30px 0 30px 20px;
						font-size: 14px;
					    font-weight: 600;
					    color: dimgrey;
				        height: 20px;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				.product-detail {
					margin-left: 20px;

					.product-price {
						font-size: 24px;
						padding: 20px 0;
						color: #000;
					}

					.product-rating {
						padding-bottom: 5px;
					}

					.product-share {
						font-size: 14px;
						padding-bottom: 20px
					}
				}

				.product-submit {
					padding: 15px 20px;
					border-top: #dcdcdc solid 1px;	

					.quantity {
						width: 110px;
					    display: inline-block;
					}
					
					button {
						border-radius: 0;
					    background-color: #f1f1f1;
    					padding: 5px 10px;

					    span {
					    	&.fa {
					    		font-size: 12px;
					    	}
					    }

					    &:focus {
					    	box-shadow: none;
					    }

					    &:hover {
							background-color: #181818;
							color: #fff;
					    }
					}

					input {
						font-size: 12px;
						padding-top: 5px;
						padding-bottom: 5px;

						&:focus {
							border: 1px solid rgba(0, 0, 0, 0.15);
						}
					}

					.btn-primary {
						margin-left: 15px;
						background-color: #333333;
						border: 0;
						border-radius: 0;
						color: #fff;
						text-transform: uppercase;
						padding: 18px 25px;
						cursor: pointer;

						&:hover, &:focus {
							background-color: #3f3f3f; 
							box-shadow: none;
						}
					}
				}
			}
		}
	}
}