// Homepage navbar and carousel
.my-navbar {
	background: none !important;
	height: 90px;
    border-bottom: 1px solid rgba(248,248,248,0.3);
    padding-right: 0px;
	// -webkit-transition: all 0.1s ease-out;
	// -moz-transition: all 0.1s ease-out;
	// -o-transition: all 0.1s ease-out;
	// transition: all 0.1s ease-out;

	.nav-item {
		height: 90px;

		.nav-link {
	    	text-transform: uppercase;
    	    line-height: 90px;
		    vertical-align: middle;
		    padding-top: 0px;
		    padding-bottom: 0px;
		    padding: 0 20px;
		    color: #fff;
		    font-size: 0.750rem;
		    font-weight: 600;
	        letter-spacing: 0.2em;
		    font-family: 'Montserrat', sans-serif;

		    &:hover, &:focus {
				color: rgba(255,255,255,0.8);
		    }

		    &:active {
		    	color: #fff !important;
		    }
	    }

    	.dropdown-menu {
	    	top: 98%;
	    }

	    &.right-nav {
	    	width: 120px;
	    	border-left: 1px solid rgba(248,248,248,0.3);

	    	a.nav-link {
	    		text-align: center;
	    		padding: 0 0;

	    		&.nav-link {
					text-align: center;
	    			padding: 0 0;

		    			.fa.fa-user-circle {
		    			font-size: 1.500rem;
		    			vertical-align: middle;
	    			    position: relative;
		    		}


	    		}

				// add badge
				.fa-stack[data-count]:after{
					position: absolute;
					top: 0;
    				left: 16px;
					content: attr(data-count);
					font-size: 0.625rem;
					padding-left: 9px !important;
					padding: .6em;
					border-radius: 999px;
					line-height: .75em;
					color: white;
					background: #000;
					text-align: center;
					min-width: 2em;
					font-weight: bold;
				}

		    	.fa.fa-shopping-bag {
		    		position: relative;
		    		font-size: 1.250rem;
					vertical-align: middle;
		    	}
	    	}

	    	.dropdown-menu {
    		    width: 400px !important;
				border-radius: 0;
				padding: 20px 0px;
				box-shadow: none;
				-webkit-box-shadow: none;
				border-top: 4px solid #e6e6e6;
				border-bottom: #dcdcdc solid 1px;
				border-left: #dcdcdc solid 1px;
				border-right: #dcdcdc solid 1px;
				right: 0;
				left: auto;

				p {
					font-size: 0.875rem;
					line-height: 24px;
					text-align: center;
					vertical-align: middle;
					padding: 10px 0 12px;
					margin: 0;
				    padding-top: 8px !important;
				    font-style: italic;
					font-family: 'Montserrat', sans-serif;
				}

				.dropdown-item {
					font-family: 'Montserrat', sans-serif;
					font-size: 0.750rem;
					line-height: 25px;
					text-transform: uppercase;
					color: dimgrey;

					&:hover, &:focus {
						background-color: #f8f8f8;
						cursor: pointer;
					}

					&:active {
						background-color: transparent;
					}
				}
	    	}
	    }
	}   
	
	.custom-toggler {
		height: 90px;

		&:focus {
			outline: none;
		}

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
	}
}

nav.shrink {
	background: rgba(0,0,0,0.35);
	
	&.my-navbar {
		border-bottom: #dcdcdc solid 1px;
		height: 70px;
		background: #fff !important;
    	-webkit-transition: all 0.1s ease-out;
    	-moz-transition: all 0.1s ease-out;
    	-o-transition: all 0.1s ease-out;
    	transition: all 0.1s ease-out;

		.nav-item {
			height: 70px;

			.nav-link {
				height: 70px;
				line-height: 70px;
				color: dimgrey !important;
			}

		    &.right-nav {
		    	border-left: #dcdcdc solid 1px;

		    	.nav-link {
	    			// color: #181818 !important;
		    	}
		    }
		}
	}	

	.custom-toggler {
		height: 70px;

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(69, 69, 69)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
	}

	.logo {
		content: url(/etiendahan/temp-img/etiendahan-logo.png);
	}
}

// cart
div.dropdown-menu.have-in-cart {
	font-family: 'Montserrat', sans-serif;

	button {
		cursor: pointer;
		margin: 12px 10px 0 0;
		float: right;
		border-radius: 0;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 1px;
		color: #fff;
		background-color: #23272b;
		border-color: #1d2124;
		
		&:hover {
			color: #fff;
			background-color: #343a40;
			border-color: #343a40;
		}

		&:focus {
		    box-shadow: none;
		    outline: none;
		}
	}
}

div.dropdown-menu.have-in-cart .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
	
	&.overlay {
		// position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
    	background-color: rgba(0,0,0, .1);

    	&:hover {
    		background-color: rgba(0,0,0, .1);
    	}
    }
}

div.dropdown-menu.have-in-cart .item:hover {
    background-color: #f8f8f8;
}

div.dropdown-menu.have-in-cart .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

div.dropdown-menu.have-in-cart .item-left img,
div.dropdown-menu.have-in-cart .item-left .item-info {
	// height: 50px;
    float: left;

}

div.dropdown-menu.have-in-cart .item-left .item-info {
    margin: 6px 0 0 10px; 

  	.item-name {
		font-size: 0.813rem;
		font-weight: 600;
		letter-spacing: 0.03em;
		color: dimgrey;
		width: 290px;
		display: inline-block;
		height: 18px;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;

  		.item-sold-out {
  			margin-right: 5px;
  			text-transform: uppercase;
  			border-radius: 25px;
  			color: #fff;
  			background-color: dimgrey;
  			padding: 2px 5px;
  			font-size: 0.688rem;
  			font-weight: normal;
  		}
  	}

  	.item-price {
  		font-size: 0.750rem;
  		font-weight: normal;
	    letter-spacing: 0.03em;
    	color: #777777;
  	}
}

div.dropdown-menu.have-in-cart .item-left .item-info div {
    display: block;
}

div.dropdown-menu.have-in-cart .item-right {
    height: 50px;
    text-align: right;
}

div.dropdown-menu.have-in-cart .item-right i {
    cursor: pointer;
    line-height: 50px;
    vertical-align: middle;
}

// mega dropdown
.mega-dropdown {
	position: static !important;
}
.mega-dropdown-menu {
	border-radius: 0;
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-top: 4px solid #e6e6e6;
    border-bottom: #dcdcdc solid 1px;

	a {
		color: #9aa7af !important;
		font-family: 'Montserrat', sans-serif;
	}

	a.primary-header {
		font-size: 0.813rem;
    	font-weight: 600;
	}

	a.secondary-header {
	    font-size: 0.750rem;
		letter-spacing: 0.1em;
	}
	
    a.dropdown-header {
    	padding: 6px 0;
    	text-transform: uppercase;

    	&:hover {
    		color: dimgrey !important;
    	}
    }

    a.dropdown-item {
		padding: 6px 0;
	    font-size: 0.750rem;
		letter-spacing: 0.1em;

    	&:hover {
    		color: dimgrey !important;
    		background-color: transparent;
    	}
    }

    .children {
    	padding-left: 5px;
    }
}

// effects when hover navbar
nav a.cl-effect {
	position: relative;
}

nav a:hover,
nav a:focus {
	outline: none;
	text-decoration: none;
}

.cl-effect a.cl-effect {
	padding: 8px 0;
}

.cl-effect a.cl-effect::before {
	position: absolute;
	top: 80%;
	left: 0;
	right: 0;
	width: 30px;
	height: 4px;
	background: dimgrey;
	content: '';
	opacity: 0;
	display: block;
    margin-left: auto;
    margin-right: auto;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect a.cl-effect:hover::before {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.cl-effect a.cl-effect.hidden::before {
	display: none;
}

.cl-effect a.cl-effect.show::before {
	position: absolute;
    top: 80%;
	left: 0;
	right: 0;
	width: 30px;
	height: 4px;
	background: dimgrey;
	content: '';
	opacity: 1;
	display: block;
    margin-left: auto;
    margin-right: auto;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

// carousel
.my-carousel {
	width: 100%;
	height: 610px;

	.carousel-item {
		height: 610px;
		max-height: 610px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		.carousel-inner-overlay {
			position: absolute;
			width: 105%;
			height: 100%;
			z-index: 2;
			background-color: dimgrey;
			opacity: 0.4;
		}
	}

	.carousel-indicators {
		cursor: pointer;
	   	bottom: 35px;

	   	li {
	   		width: 50px;
	   	}
	}

	.fa.fa-angle-left, .fa.fa-angle-right, .carousel-indicators {
		opacity: 0;
		transition: visibility 0s linear 400ms, opacity 400ms;
		visibility: hidden;
	}

	&:hover {

		.fa.fa-angle-left, .fa.fa-angle-right, .carousel-indicators {
			opacity: 1;
			transition: visibility 0s linear 0s, opacity 200ms;
			visibility:visible;
		}		
	}

	.fa.fa-angle-left, .fa.fa-angle-right {
		font-size: 4.125rem;
	}

	.text-inner {
		text-align: center;
		color: white;
		width: 100%;
		// position: relative;
		// top: 40%;
		font-size: 50px;
		font-weight: 400;
		z-index: 3;
	    // text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	    text-transform: uppercase;
	    display: inline-table;
	    padding: 0 5%;
	}

	.promotional-banner {
		position: absolute;
		bottom: 0;
		color: white;
		z-index: 3;
		right: 0;
	}
}

.link-slider {
    font-family: 'Crimson Text', serif;
    color: white;
    z-index: 3;
    font-size: 22px;
    font-style: italic;
    line-height: 26px;
    font-weight: 100;

    a {
    	color: #fff;
    	text-decoration: none;
    	border-bottom: 2px solid white;
    }
}

// search
.my-search {
	margin-top: -35px;

	.search-box {
		height: 65px;
		display: inline-block;
		width: 100%;
		border-radius: none;
		padding: 4px 55px 4px 15px;
		position: relative;
		background: #fff;
		border: 1px solid #ddd;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}

	.search-box input[type=text] {
		border: none;
		box-shadow: none;
		display: inline-block;
		padding: 0;
		background: transparent;
		height: 55px;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.125rem;
		line-height: 56px;
	}
	.search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
		box-shadow: none;
	}
	.search-box .search-btn {
		position: absolute;
		right: 2px;
		top: 2px;
		color: dimgrey;
		border-radius: 3px;
		font-size: 1.563rem;
		padding: 8px 15px 8px;
		margin: 5px 0;
		border-left: #dcdcdc solid 1px;

		&:hover {
			cursor: pointer;
		}
			
	}

}

// go to shop now
#shop-now {
    position: relative;
    bottom: 115px;
}

#shop-now-link {
    position: relative;
    bottom: 45px;
}

// medias
@media (min-width: 1200px) and (max-width: 1315px) {
	.my-navbar {
		.container {
			padding: 0;

			.nav-item {
				.nav-link {
				    padding: 0 12px !important;
				}
			}	
		}
	}
}

@media (max-width: 1199px) {
	// nav
	.my-navbar {
		
		.nav-item {
			height: 50px;

			.nav-link {
				line-height: 50px;
				color: dimgrey !important;
				border-bottom: #f6f6f6 solid 1px;

				.fa.fa-shopping-bag, .fa.fa-user-circle {
					color: #fff;
					width: 80px;
					height: 90px;
					line-height: 90px;

					&:hover, &:focus {
						color: rgba(255,255,255,0.8);
				    }
				}

				&:active {
			    	color: dimgrey !important;
			    }
			}

			&.right-nav {
				border: none;

				&.dropdown {
					height: 90px;
					width: 80px;
					border-left: 1px solid rgba(248, 248, 248, 0.3);
				}

				.nav-link {
					width: 80px;
					border: none;
					line-height: 90px;
					vertical-align: middle;
					text-align: center;
				}

				.fa-stack[data-count]:after{
					top: 31px !important;
					left: 44px !important;
				}

				.fa-stack {
					display: block;
					
				}
			}
		}

		.dropdown-menu {
			top: 98% !important;
		}

		.custom-toggler {
			height: 90px !important;
			width: 80px;
			padding: 0;
			border: none;
			border-left: 1px solid rgba(248, 248, 248, 0.3);
		}
	}

	.navbar-collapse {
		position: absolute;
		width: 100%;
		top: 90px;
		right: 0;
		left: 0;
		background-color: #fff;
		// padding: 10px 0;

	}

	// nav shink
	nav.shrink {
		
		&.my-navbar {
			
			.nav-item {
				height: 50px !important;

				.nav-link {
					height: 50px;
					line-height: 50px;
					color: dimgrey !important;
					border-bottom: #f6f6f6 solid 1px;

					.fa.fa-shopping-bag, .fa.fa-user-circle {
						height: 70px;
						line-height: 70px;
						color: dimgrey;
					}
				}

				&.right-nav {
					height: 70px !important;
					border: none;

					.nav-link {
						height: 70px;
						line-height: 70px;
						border: none;
					}

					// add badge
					.fa-stack[data-count]:after{
						top: 22px !important;
					}

					&.dropdown {
						border-left: 1px solid #dcdcdc;
					}
				}
			}	

			.custom-toggler {
				height: 70px !important;
				line-height: 70px;
				width: 80px;
				padding: 0;
				border: none;
				border-left: 1px solid #dcdcdc;
			}
		}

		.navbar-collapse {
			position: absolute;
			width: 100%;
			top: 70px;
			right: 0;
			left: 0;
			background-color: #fff;
			// padding: 10px 0;

		}
	}

	.invisible {
		display: none;
	}

	.my-carousel {
		height: 500px;

		.carousel-item {
			height: 500px;
			max-height: 500px;
		}
	}
}

.message-info {
	font-size: 11px;
}

// pop up
#popup-notification {
	display: none;
	position: fixed;
	width: 385px;
	height: 98px;
	background: #fff;
	border: 2px solid #dcdcdc;
	bottom: 25px;
	left: 42px;
	margin-left: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 999999999999999;
}

#popup-notification-welcome {
	display: none;
	position: fixed;
	width: 385px;
	height: 98px;
	background: #fff;
	border: 2px solid #dcdcdc;
	bottom: 25px;
	left: 42px;
	margin-left: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 999999999999999;
}

#popup-notification-completed {
	display: none;
	position: fixed;
	width: 385px;
	height: 98px;
	background: #fff;
	border: 2px solid #dcdcdc;
	bottom: 25px;
	left: 42px;
	margin-left: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 999999999999999;
}

#popup-notification-logout {
	display: none;
	position: fixed;
	width: 385px;
	height: 98px;
	background: #fff;
	border: 2px solid #dcdcdc;
	bottom: 25px;
	left: 42px;
	margin-left: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 999999999999999;
}

#popup-notification-logout-redirect {
	display: none;
	position: fixed;
	width: 385px;
	height: 98px;
	background: #fff;
	border: 2px solid #dcdcdc;
	bottom: 25px;
	left: 42px;
	margin-left: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 999999999999999;
}

#etiendahan-notification {
	color: dimgrey;
	padding: 4px 10px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	position: relative;
	left: -2px;
}

.popup-close {
	color: #464646;
	right: 8px;
	top: 5px;
	position: absolute;
	font-size: 15px;
	cursor: pointer;
}

.popup-title {
	font-size: 12px;

	.fa {
		font-size: 18px;

		&.alert-danger {
			background-color: transparent;
		}

		&.alert-primary {
			background-color: transparent;
		}
	}
}

.inner-recent {
	border: 1px solid #ddd;
	margin-top: 5px;
	position: absolute;
	width: 1110px;
	z-index: 9999999;
	background: #fff;
	height: auto;
	padding: 10px;
}

.ui-autocomplete {
	font-family: 'Montserrat', sans-serif;
	position: relative !important;
	bottom: -20px !important;
	// left: 21% !important;
	// cursor: default;
	border: 1px solid #ddd !important;
	right: 15% !important;
	// padding: 10px 0 !important;
	// z-index: 9999;
	width: 1078px !important;
	background-color: #fff;
	margin-top: 5px !important;
	// margin-left: -30px !important;
}

ul {
	padding: 0;

	li.li-item {
		// background-color: transparent !important;
		padding: 0;

		
		

		&:hover, &:focus {
			text-decoration: none;
			color: #fff;
			// background-color: blue !important;
			border: none;
		}

		.search-item {
			z-index: 999;
			display: block;
			padding: 5px 10px;

			&:hover {
				text-decoration: none;
			}
		}
	}
}


// #popup-notification-notification {
// 	display: block;
// 	position: absolute;
// 	bottom: 50px;
// 	left: 50px;

// 	.wrapper {
// 		display: table-cell;
// 		vertical-align: bottom;
// 		height: auto;
// 		width: 200px;
// 	}

// 	.alert-default {
// 		color: #333;
// 		background-color: #f2f2f2;
// 		border-color: #ccc;
// 	}
// }

.search-result {
    position: absolute;
    top: 95px;
    font-size: 16px;
    font-weight: 500;
}

.dont-find-product {
	position: absolute;
    top: 117px;
    font-size: 11px;

    a {
    	text-decoration: none;
    }
}

.cart-delete {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}

.sb-search {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	margin-top: 10px;
	width: 0%;
	min-width: 60px;
	height: 60px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	right: 260px;
    bottom: 5px;
}
/* The input element on the search element  */
.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 65%;
    height: 70px;
    margin: 0;
    z-index: 10;
    padding: 0 65px 0 20px;
    color: #495057 !important;
    font-size: 1.125rem;
    line-height: 56px;
    border: 2px solid #dcdcdc;
    border-bottom-width: 12px;
}


input[type="search"].sb-search-input {
	/* remove special webkit formatting on the search input */
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

/* format the search button and submit to share the same size and space */
.sb-icon-search,
.sb-search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}
/* hide the submit but leave it clickable */
.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

/* format the search icon */
.sb-icon-search {
    color: #fff;
    background: #fff;
    border: 1px solid #dcdcdc;
    z-index: 90;
    font-size: 22px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

/* add the magnifying glass character from the icomoon font as a before pseudo element */
.sb-icon-search:before {
	// content: "\e000";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

/* add the "active" color on the search button */
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: dimgrey;
	color: #fff !important;
	z-index: 11;

	.fa {
		color: #fff !important;
	}
}

/* adjust z-index to make sure the search submit is clikacble and not below any other elements */
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}