.navbar-upper-inner {
	span.text-white, {
		margin-top: 7px;
	}

	.font-weight-200 {
	    font-weight: 200;

	    &:hover {
			color: hsla(0,0%,100%,.7);
	    }
	}

	.font-weight-500 {
	    font-weight: 500;

	    &:hover {
	    	color: hsla(0,0%,100%,.7);
	    }
	}
}

.pointer-text {
	cursor: text;
}